<!--  军训专题 -->
<link href="http://vjs.zencdn.net/6.2.4/video-js.css" rel="stylesheet">

<link rel="stylesheet" href="./stylesheets/activity.css">
<link rel="stylesheet" href="./stylesheets/index.css">

<div class="activity-banner">
    <div class="activity-content">
        <div class="activity-nav">
            <button class="btn1 forward">笑脸迎新</button>
            <button class="btn2 forward">学长学姐帮帮忙</button>
        </div>
        <div class="activity-main">
            <div class="help-center">
                <div class="help-nav">
                    <button class='all'>全部</button>
                    <button class='study'>学习类</button>
                    <button class='life'>生活类</button>
                    <button class='act'>活动类</button>
                    <button class='org'>组织类</button>
                    <button class='other'>其他类</button>
                <div class="help-underline"></div>
                
                </div>
                <div class="questions-all-bar">
                    <div class="questions-content">提问内容</div>
                    <div class="questions-people">提问者</div>
                    <div class="questions-time">时间</div>
                </div>
                <div class="content-help">
                    <ul>
                        <li class='questions-all'>
                            <div class="questions-all-content">
                                <div class="qsContain">
                                    <% for (let i = 0; i < all.data_all.length; i++) { %>
                                        <div class="question">
                                            <div class="question-content"><%= all.data_all[i].title %></div>
                                            <div class="question-people"><%= all.data_all[i].name %></div>
                                            <div class="question-time"><%= all.data_all[i].create_time.slice(0, 10) %></div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="questions-all-pages">
                                <div class="allPages">
                                   <div class="pageContain">
                                        <% for (var i = 1; i <= all.len_all; i++) { %>
                                            <div class="onePage" num='<%- i %>'><%= i %></div>
                                        <% } %>
                                   </div>
                                   <div class="leftArrow"></div>
                                   <div class="rightArrow"></div>
                                </div>
                            </div>
                        </li>
                        <li class='questions-study'>
                            <div class="questions-all-content">
                                <div class="qsContain">
                                    <% for (let i = 0; i < study.data_study.length; i++) { %>
                                        <div class="question">
                                            <div class="question-content"><%= study.data_study[i].title %></div>
                                            <div class="question-people"><%= study.data_study[i].name %></div>
                                            <div class="question-time"><%= study.data_study[i].create_time.slice(0, 10) %></div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="questions-all-pages">
                                <div class="allPages">
                                   <div class="pageContain">
                                        <% for (var i = 1; i <= study.len_study; i++) { %>
                                            <div class="onePage" num='<%- i %>'><%= i %></div>
                                        <% } %>
                                   </div>
                                   <div class="leftArrow"></div>
                                   <div class="rightArrow"></div>
                                </div>
                            </div>
                        </li>
                        <li class='questions-life'>
                            <div class="questions-all-content">
                                <div class="qsContain">
                                    <% for (let i = 0; i < life.len_life.length; i++) { %>
                                        <div class="question">
                                            <div class="question-content"><%= life.len_life[i].title %></div>
                                            <div class="question-people"><%= life.len_life[i].name %></div>
                                            <div class="question-time"><%= life.len_life[i].create_time.slice(0, 10) %></div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="questions-all-pages">
                                <div class="allPages">
                                   <div class="pageContain">
                                        <% for (var i = 1; i <= life.len_life; i++) { %>
                                            <div class="onePage" num='<%- i %>'><%= i %></div>
                                        <% } %>
                                   </div>
                                   <div class="leftArrow"></div>
                                   <div class="rightArrow"></div>
                                </div>
                            </div>
                        </li>
                        <li class='questions-activity'>
                            <div class="questions-all-content">
                                <div class="qsContain">
                                    <% for (let i = 0; i < activity.data_activity.length; i++) { %>
                                        <div class="question">
                                            <div class="question-content"><%= activity.data_activity[i].title %></div>
                                            <div class="question-people"><%= activity.data_activity[i].name %></div>
                                            <div class="question-time"><%= activity.data_activity[i].create_time.slice(0, 10) %></div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="questions-all-pages">
                                <div class="allPages">
                                   <div class="pageContain">
                                        <% for (var i = 1; i <= activity.len_activity; i++) { %>
                                            <div class="onePage" num='<%- i %>'><%= i %></div>
                                        <% } %>
                                   </div>
                                   <div class="leftArrow"></div>
                                   <div class="rightArrow"></div>
                                </div>
                            </div>
                        </li>
                        <li class='questions-organ'>
                            <div class="questions-all-content">
                                <div class="qsContain">
                                    <% for (let i = 0; i < organ.data_organ.length; i++) { %>
                                        <div class="question">
                                            <div class="question-content"><%= organ.data_organ[i].title %></div>
                                            <div class="question-people"><%= organ.data_organ[i].name %></div>
                                            <div class="question-time"><%= organ.data_organ[i].create_time.slice(0, 10) %></div>
                                        </div>
                                        
                                    <% } %>
                                </div>
                            </div>
                            <div class="questions-all-pages">
                                <div class="allPages">
                                   <div class="pageContain">
                                        <% for (var i = 1; i <= organ.len_organ; i++) { %>
                                            <div class="onePage" num='<%- i %>'><%= i %></div>
                                        <% } %>
                                   </div>
                                   <div class="leftArrow"></div>
                                   <div class="rightArrow"></div>
                                </div>
                            </div>
                        </li>
                        <li class='questions-others'>
                            <div class="questions-all-content">
                                <div class="qsContain">
                                    <% for (let i = 0; i < others.data_others.length; i++) { %>
                                        <div class="question">
                                            <div class="question-content"><%= others.data_others[i].title %></div>
                                            <div class="question-people"><%= others.data_others[i].name %></div>
                                            <div class="question-time"><%= others.data_others[i].create_time.slice(0, 10) %></div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="questions-all-pages">
                                <div class="allPages">
                                   <div class="pageContain">
                                        <% for (var i = 1; i <= others.len_others; i++) { %>
                                            <div class="onePage" num='<%- i %>'><%= i %></div>
                                        <% } %>
                                   </div>
                                   <div class="leftArrow"></div>
                                   <div class="rightArrow"></div>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
             </div>
        </div>

         <div class="welcome">
            <div class="smile-activity">
                <img src="../images/activity/smile-banner.png" alt="smile-banner" class="smile-banner">
                <div class="join-activity">
                    <p><span>活动时间: </span>本次上线时间为2017年8月10日9：00--2017年9月8日12：00</p>
                    <hr>
                    <p><span>活动主题: </span>新生笑脸征集——晒晒通知书</p>
                    <hr>                    
                    <p><span>活动对象: </span>2017级所有小鲜肉</p>
                    <hr>
                    <p><span>参与方式: </span>上传认为最有特色或创意录取通知书的合照（每人限一张）参与活动</p>
                    <hr>
                    <p><span>照片形式: </span>不限形式、照片可以是新生，特色景物，小物件和录取通知书的合照。</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

let numBar = (clas) => {
    let $nums =  $(`${clas} .onePage`)
    let length = $nums.length
    
    let $arrowL = $(`${clas} .leftArrow`)
    let $arrowR = $(`${clas} .rightArrow`)

    let $contain = $(`${clas} .qsContain`)

    $(`${clas} .onePage:first-child`).addClass('numClicked')

    $nums.click(function () {
        if ($(this).hasClass('numClicked')) {
            return 
        }
        else {
            let oldVal = parseInt($(`${clas} .numClicked`).attr('num'))
            let newVal = parseInt($(this).attr('num'))
            if (newVal > oldVal) {
                let diVal = newVal - oldVal
                $contain.animate({top: `-=${diVal * 500}px`}, 1000)
            }
            if (newVal < oldVal) {
                let diVal = oldVal - newVal
                $contain.animate({top: `+=${diVal * 500}px`}, 1000)
            }
            $nums.removeClass('numClicked')
            $(this).addClass('numClicked')
            
        }
    })

    

    $arrowL.click(function () {
        let oldVal = parseInt($(`${clas} .numClicked`).attr('num'))
        if (oldVal === 1) {
            return 
        }
        else {
            let newVal = oldVal - 1
            $contain.animate({top: `+=500px`}, 1000)
            $nums.removeClass('numClicked')
            $(`${clas} .onePage[num=${newVal}]`).addClass('numClicked')
        }
    })

    $arrowR.click(function () {
        let oldVal = parseInt($(`${clas} .numClicked`).attr('num'))
        if (oldVal === length) {
            return 
        }
        else {
            let newVal = oldVal + 1
            $contain.animate({top: `-=500px`}, 1000)
            $nums.removeClass('numClicked')
            $(`${clas} .onePage[num=${newVal}]`).addClass('numClicked')
        }
    })
}




$(function () {
    
    numBar('.questions-all')
    numBar('.questions-study')
    numBar('.questions-life')
    numBar('.questions-activity')
    numBar('.questions-organ')
    numBar('.questions-others')
    
})


</script>