<!--  军训专题 -->
<link href="http://vjs.zencdn.net/6.2.4/video-js.css" rel="stylesheet">

<link rel="stylesheet" href="./stylesheets/activity.css">
<link rel="stylesheet" href="./stylesheets/index.css">

<div class="activity-banner">
    <div class="activity-content">
        <div class="activity-nav">
            <button class="btn1 forward">笑脸迎新</button>
            <button class="btn2 forward">学长学姐帮帮忙</button>
        </div>
        <div class="activity-main">
            <div class="help-center">
                <div class="help-nav">
                    <button class='all'>全部</button>
                    <button class='study'>学习类</button>
                    <button class='life'>生活类</button>
                    <button class='act'>活动类</button>
                    <button class='org'>组织类</button>
                    <button class='other'>其他类</button>
                <div class="help-underline"></div>
                
                </div>
                <div class="questions-all-bar">
                    <div class="questions-content">提问内容</div>
                    <div class="questions-people">提问者</div>
                    <div class="questions-time">时间</div>
                </div>
                <div class="content-help">
                    <ul>
                        <li class='questions-all'>
                            <div class="questions-all-content">
                                <div class="qsContain">
                                    <% for (let i = 0; i < data.length; i++) { %>
                                        <div class="question">
                                            <div class="question-content"><%= data[i].title %></div>
                                            <div class="question-people"><%= data[i].name %></div>
                                            <div class="question-time"><%= data[i].create_time.slice(0, 10) %></div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="questions-all-pages">
                                <div class="allPages">
                                   <div class="pageContain">
                                        <% for (var i = 1; i <= len; i++) { %>
                                            <div class="onePage" num='<%- i %>'><%= i %></div>
                                        <% } %>
                                   </div>
                                   <div class="leftArrow"></div>
                                   <div class="rightArrow"></div>
                                </div>
                            </div>
                        </li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                    </ul>
                </div>
             </div>
        </div>

         <div class="welcome">
            <div class="smile-activity">
                <img src="../images/activity/smile-banner.png" alt="smile-banner" class="smile-banner">
                <div class="join-activity">
                    <p><span>活动时间: </span>本次上线时间为2017年8月10日9：00--2017年9月8日12：00</p>
                    <hr>
                    <p><span>活动主题: </span>新生笑脸征集——晒晒通知书</p>
                    <hr>                    
                    <p><span>活动对象: </span>2017级所有小鲜肉</p>
                    <hr>
                    <p><span>参与方式: </span>上传认为最有特色或创意录取通知书的合照（每人限一张）参与活动</p>
                    <hr>
                    <p><span>照片形式: </span>不限形式、照片可以是新生，特色景物，小物件和录取通知书的合照。</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(function () {
    let $nums = $('.onePage')
    let length = $nums.length
    
    let $arrowL = $('.leftArrow')
    let $arrowR = $('.rightArrow')

    let $contain = $('.qsContain')

    $('.onePage:first-child').addClass('numClicked')

    $nums.click(function () {
        if ($(this).hasClass('numClicked')) {
            return 
        }
        else {
            let oldVal = parseInt($('.numClicked').attr('num'))
            let newVal = parseInt($(this).attr('num'))
            if (newVal > oldVal) {
                let diVal = newVal - oldVal
                $contain.animate({top: `-=${diVal * 500}px`}, 1000)
            }
            if (newVal < oldVal) {
                let diVal = oldVal - newVal
                $contain.animate({top: `+=${diVal * 500}px`}, 1000)
            }
            $nums.removeClass('numClicked')
            $(this).addClass('numClicked')
            
        }
    })

    

    $arrowL.click(function () {
        let oldVal = parseInt($('.numClicked').attr('num'))
        if (oldVal === 1) {
            return 
        }
        else {
            let newVal = oldVal - 1
            $contain.animate({top: `+=500px`}, 1000)
            $nums.removeClass('numClicked')
            $(`.onePage[num=${newVal}]`).addClass('numClicked')
        }
    })

    $arrowR.click(function () {
        let oldVal = parseInt($('.numClicked').attr('num'))
        if (oldVal === length) {
            return 
        }
        else {
            let newVal = oldVal + 1
            $contain.animate({top: `-=500px`}, 1000)
            $nums.removeClass('numClicked')
            $(`.onePage[num=${newVal}]`).addClass('numClicked')
        }
    })
    

})


</script>